<section class="Form my-4 mx-5">

    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-5">
                <img [src]=myImage class="img-fluid"alt="">
            </div>

            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Task Manager</h1>
                <h4>Create an account</h4>
                
                <form (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="text" placeholder = "Username" class="form-control my-2 p-4" 
                            [(ngModel)]="user.username" id="username" name="username" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="password" placeholder = "Password" class="form-control my-2 p-4" 
                            [(ngModel)]="user.password" id="password" name="password" required>
                        </div>         
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="password" placeholder = "Confirm Password" class="form-control my-2 p-4" 
                            [(ngModel)]="user.confirmPassword" id="confirmPassword" name="confirmPassword" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="text" placeholder = "First Name" class="form-control my-2 p-4" 
                            [(ngModel)]="user.firstName" id="firstName" name="firstName" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="text" placeholder = "Last Name" class="form-control my-2 p-4" 
                            [(ngModel)]="user.lastName" id="lastName" name="lastName" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="text" placeholder = "Email" class="form-control my-1 p-4" 
                            [(ngModel)]="user.email" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="submit" class="btn1 mt-3 mb-3" value="signin">Sign up</button>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-lg-7 mt-1 mb-2">
                            <div class="alert alert-danger" role="alert" *ngIf="isFormInvalid">
                                <h4>Please fill all fields</h4>
                            </div>        
                            
                            <div class="alert alert-danger" role="alert" *ngIf="passwordNotMatch">
                                <h4>Password not Match</h4>
                            </div>   
                            
                            <div class="alert alert-danger" role="alert" *ngIf="emailNotAvailable">
                                <h4>This email not available</h4>
                            </div>        
                            
                            <div class="alert alert-danger" role="alert" *ngIf="usernameNotAvailable">
                                <h4>this username not available</h4>
                            </div>  

                            <div class="alert alert-danger" role="alert" *ngIf="accountNotCreated">
                                <h4>Account not created, please try again</h4>
                            </div>  

                            <div class="alert alert-success" role="alert" *ngIf="accountCreated">
                                <h4>Account created successfully</h4>
                            </div>  
                            
                        </div>

                    </div>

                    <a routerLink="../signin">Sign in</a>
                </form>
            </div>
        </div>

    </div>

</section>
