
<!--<div *ngIf="authenticationService.isAuthenticated">
<div *ngIf="authenticationService.userRole === 'Software Manager'; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>

  navbar-expand-lg-->
  <!--<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="authenticationService.isAuthenticated">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="api/mngHome">Task Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="api/mngHome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/createTask">Create Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/showTasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/dashboard">DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/users">Employees</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="api/getUser">Profile</a></li>
              <li><a class="dropdown-item" routerLink="api/feedback">FeedBack</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="api/performance">Performance</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="signOut()">Sign out</a>
          </li>

        </ul>

      </div>
      
    </div>
  </nav>

 </ng-template>

<ng-template #elseBlock>
 
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="authenticationService.isAuthenticated">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="api/empHome">Task Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="api/empHome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/empShowTasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/empDashboard">DashBoard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="api/getUser">Profile</a></li>
              <li><a class="dropdown-item" routerLink="api/empFeedback">FeedBack</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="api/empPerformance">Performance</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="signOut()">Sign out</a>
          </li>

        </ul>

      </div>
      
    </div>
  </nav>

</ng-template>


</div>

<router-outlet></router-outlet>-->

<!-- WORKING CODE V1 -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="authenticationService.isAuthenticated">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="api/mngHome">Task Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="api/mngHome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/createTask">Create Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/assignTask">Assign Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/dashboard">DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="api/users">Employees</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="api/profile">Profile</a></li>
              <li><a class="dropdown-item" routerLink="api/feedback">FeedBack</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="api/performance">Performance</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="signOut()">Sign out</a>
          </li>

        </ul>

      </div>
      
    </div>
  </nav>

<router-outlet></router-outlet> -->

<div *ngIf="authenticationService.isAuthenticated">
  <div *ngIf="authenticationService.userRole === 'Software Manager'; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
  <!--class="navbar-nav ml-auto mb-2 mb-lg-0 bg-primary"-->
    <!--navbar-expand-lg-->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary " *ngIf="authenticationService.isAuthenticated">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="api/mngHome">Task Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span></span>
          <span></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="api/mngHome" style="color: black;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="api/createTask" style="color: black;">Create Task</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="api/showTasks" style="color: black;">Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="api/dashboard" style="color: black;">DashBoard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="api/users" style="color: black;">Employees</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
                Settings
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="api/getUser" style="color: black;">Profile</a></li>
                <li><a class="dropdown-item" routerLink="api/feedback" style="color: black;">FeedBack</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="api/performance" style="color: black;">Performance</a></li>
              </ul>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" (click)="signOut()" style="color: black;">Sign out</a>
            </li>
  
          </ul>
  
        </div>
        
      </div>
    </nav>
  
   </ng-template>
  
  <ng-template #elseBlock>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="authenticationService.isAuthenticated">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="api/empHome">Task Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="api/empHome" style="color: black;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="api/empShowTasks" style="color: black;">Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="api/empDashboard" style="color: black;">DashBoard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
                Settings
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="api/getUser" style="color: black;">Profile</a></li>
                <li><a class="dropdown-item" routerLink="api/feedback" style="color: black;">FeedBack</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="api/performance" style="color: black;">Performance</a></li>
              </ul>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" (click)="signOut()" style="color: black;">Sign out</a>
            </li>
  
          </ul>
  
        </div>
        
      </div>
    </nav>
  
  </ng-template>
  
  
  </div>
  
  <router-outlet></router-outlet>
