<section class="Form my-4 mx-5 d-flex justify-content-center mat-typography">

    <div class="container">

        <div class="row no-gutters">

            <div class="table-responsive px-5 pt-5">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>userID</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Hired Date</th>
                            <th>Salary</th>
                            <th>Role</th>                           
                            <th>Career Path</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.userId}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.hireDate}}</td>
                            <td>{{user.salary}}</td>
                            

                            <td *ngIf="user.role === 'Software Manager'"><button type="button"
                                    class="btn btn-success btn-sm">{{user.role}}</button></td>
                            <td *ngIf="user.role === 'Analyst'"><button type="button"
                                    class="btn btn-secondary btn-sm">{{user.role}}</button></td>
                            <td *ngIf="user.role === 'Software Developer'"><button type="button"
                                    class="btn btn-warning btn-sm">{{user.role}}</button></td>
                            <td *ngIf="user.role === 'Software Architecture'"><button type="button"
                                    class="btn btn-info btn-sm">{{user.role}}</button></td>
                            <td *ngIf="user.role !== 'Software Manager'">
                                <a routerLink="/api/promoteUser/{{user.userId}}">
                                    <button class="btn btn-primary btn-sm" title="promote user">Promote</button>
                                </a>
                            </td>

                            <td *ngIf="user.role === 'Software Manager'">
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section>