
<!-- <div id="divChart">
    <canvas id="myChart" width="400" height="400"></canvas>
</div> -->

<!-- <div id="divChartTwo">
    <canvas id="myChartTwo" width="400" height="400"></canvas>
</div> -->

<!-- <div id="divChartThree">
    <canvas id="myChartThree" width="400" height="400"></canvas>
</div> -->


<section class="Form my-4 mx-5 d-flex justify-content-center mat-typography">

    <div class="container">

        <div class="row no-gutters">

            
            <div class="col-lg-6 px-5 pt-5">
                
                <div id="divChart">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>

            </div>

            
            <div class="col-lg-6 px-5 pt-5">
                <div id="divChartTwo">
                    <canvas id="myChartTwo" width="400" height="400"></canvas>
                </div>
                
            </div>
        


      
            <div class="col-lg-12 px-5 pt-5 d-flex justify-content-center ">
                <div id="divChartThree">
                    <canvas id="myChartThree" width="1000" height="600"></canvas>
                </div>
            </div>
        </div>

      


    </div>

</section>


