<div class="container divWeather border border-secondary">

    <div class="cloudDiv">
        <img class="cloudLeft" src="../../../../assets/img/cloud.png" alt="">
        <img class="cloudMiddleLeft" src="../../../../assets/img/cloud.png" alt="">
        <img class="cloudMiddle" src="../../../../assets/img/cloud.png" alt="">
        <img class="cloudMiddleRight" src="../../../../assets/img/cloud.png" alt="">
        <img class="cloudRight" src="../../../../assets/img/cloud.png" alt="">
    </div>
    <app-weather-current></app-weather-current>
    <app-weather-forecast></app-weather-forecast>
</div>
